main {
    display: block;
    padding: 0 var(--padding-small);
}

main h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: var(--padding-medium) var(--padding-small) 0 var(--padding-small);
    text-align: left;
}

main>img {
    width: 100%;
    height: auto;
    padding: var(--padding-small) 0;
    object-fit: contain;
}

main p {
    margin: 10px;
    font-size: var(--font-p);
    font-weight: 400;
    padding-bottom: 30px;
    text-align: left;
    line-height: var(--line-height);
}

.immagine {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-small) 0;
    gap: 10px;
}

.immagine img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    object-fit: contain;
}


.strutturaProgetto h2 {
    text-align: left;
    margin-left: 10px;
}

.strutturaProgetto h3 {
    text-align: left;
    margin-left: 30px;
}

.strutturaProgetto ol {
    text-align: left;
    margin-left: 50px;
}

.strutturaProgetto ol ul {
    text-align: left;
    margin-left: 30px;
}

#titoloCorrelati {
    text-align: left;
    margin-left: 2rem;
}

.articoliCorrelati {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: var(--padding-small);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.articolo {
    box-sizing: border-box;
    background: #f9f9f9;
    padding: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.articolo .button {
    display: inline-block;
    margin-bottom: 8px; /* spazio sotto il bottone */
}

.articolo img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 0.5rem;
    border-radius: 0.3rem;
}

.genere {
    font-size: calc(var(--font-p) * 0.5);
    font-weight: 600;
    margin-bottom:0.5rem;
}

.info {
    font-size: var(--font-p);
    color: #c7c7c7;
    font-weight: 600;
}

.food {
    background-color: rgb(165, 198, 255);
    font-size: 0.9rem;
    padding: 5px;
    margin-right: 5px;
}

.visual {
    background-color: rgb(255, 165, 165);
    font-size: 0.9rem;
    padding: 5px;
}

.articolo .travel {
    background-color: rgb(175, 237, 190);
    padding: 5px;
    margin-right: 5px;
}

.articolo .design {
    background-color: rgb(255, 211, 165);
    padding: 5px;
}

.articolo .territoriale {
    background-color: #e3d5ca;
    padding: 5px;
}

@media (min-width: 1024px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 var(--padding-large);
    }

    main h1 {
        font-size: 2rem;
        margin: 20px 10px 0 10px;
        text-align: left;
    }

    main img {
        padding: var(--padding-medium);
        object-fit: contain;
    }

    .immagine {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        padding: var(--padding-small);
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .immagine img {
        width: auto;
        height: 350px;
        object-fit: cover;
    }

    .genere {
        margin-top: 1.5rem;
        margin-bottom:0.5rem;
        font-size: 0.75rem;
        font-weight: 600;
    }

    .articoliCorrelati {
        grid-template-columns: 1fr 1fr 1fr;
        padding: var(--padding-large);
    }

    #titoloCorrelati {
        text-align: left;
        margin-left: 4rem;
    }
}