@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.style-switcher {
  position: fixed;
  right: 0;
  top: 140px;
  padding: 15px;
  width: 250px;
  background: var(--background);
  z-index: 101;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(100%);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.style-switcher.open {
  transform: translateX(-25px);
}

.style-switcher .s-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: var(--background);
  color: white;
  right: 100%;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.style-switcher .s-icon i {
  line-height: 40px;
}

.switcher {
  position:absolute;
  bottom:-17px;
  left: 10px;
}

.style-switcher .style-switcher-toggler {
  top: 0;
}

.style-switcher .day-night {
  top: 60px;
}

.style-switcher h4 {
  margin: 0 0 10px;
  color: var(--text-black-900);
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  font-weight: 600;
}

.style-switcher .colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -20px;
}

.style-switcher .colors span {
  height: 30px;
  width: 100px;
  border-radius: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 13px;
  padding-top: 5px;
  font-family: 'Bree Serif', serif;
  color: black;
}


.style-switcher .colors span:hover {
  transition: all 0.3s ease;
  transform: scale(1.05);
}


.style-switcher .color-1 {
  background: #0085CC;
}

.style-switcher .color-2 {
  background: #D5A490;
}

.style-switcher .color-3 {
  background: #C99BE2;
}

.style-switcher .color-4 {
  background: #90B791;
}
